#### PySpark Configurations ####

In [1]:
# Import Libraries
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql.window import Window

In [2]:
# Initialize Spark session
spark = SparkSession.builder \
            .master("spark://spark-master:7077") \
                .appName("Ansh-Lamba-PySpark-Tutorial-Advanced") \
                    .config("spark.ui.port", "4040") \
                        .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/01/19 13:45:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

#### Reading data from CSV & JSON files ####

In [3]:
# Create root directory
INPUT_DATA_ROOT = "/opt/spark-data/input/ansh-lamba"

In [4]:
# Read CSV file with Infered schema
df_big_mart_sales = spark.read.format("csv") \
                        .option('inferSchema',True) \
                            .option("header", True) \
                                .load(f"{INPUT_DATA_ROOT}/BigMart Sales.csv")

In [5]:
# Check first N records
df_big_mart_sales.show(5, truncate=False)

+---------------+-----------+----------------+---------------+---------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|Item_Type            |Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|Outlet_Type      |Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+---------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|FDA15          |9.3        |Low Fat         |0.016047301    |Dairy                |249.8092|OUT049           |1999                     |Medium     |Tier 1              |Supermarket Type1|3735.138         |
|DRC01          |5.92       |Regular         |0.019278216    |Soft Drinks          |48.2692 |OUT018           |2009                     |Medium     |Tier 3              |Supermarket Type2|443.4228         |
|FDN15          |17.5       |Low Fat         |0.016760075    |Meat                 |141.618 |OUT049           |1999                     |Medium     |Tier 1              |Supermarket Type1|2097.27          |
|FDX07          |19.2       |Regular         |0.0            |Fruits and Vegetables|182.095 |OUT010           |1998                     |NULL       |Tier 3              |Grocery Store    |732.38           |
|NCD19          |8.93       |Low Fat         |0.0            |Household            |53.8614 |OUT013           |1987                     |High       |Tier 3              |Supermarket Type1|994.7052         |
+---------------+-----------+----------------+---------------+---------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 5 rows

#### Data Manipulations - COLLECT_LIST, PIVOT, WHEN-OTHERWISE, JOINS ####

In [6]:
# Create dummy datasets
siblings = [
            (1, 'Kwaku Jude', 40, 'M', 10_090.50, 'USA'), \
            (2, 'Yaw David', 36, 'M', 9_001.10, 'N/A'), \
            (3, 'Kofi Baffuor', 34, 'M', 8_200.99, 'GHANA'), \
            (4, 'Abena Salo', 32, 'F', 7_905.00, 'GHANA'), \
            (5, 'Abena Pat', 30, 'F', 7_005.19, 'GHANA')
            ]

In [7]:
# Schema definition
siblings_schema = 'Id INT, Name STRING, Age INT, Gender STRING, Salary DOUBLE, Country STRING'

In [8]:
# Create Spark DataFrame from dummy data
df_siblings = spark.createDataFrame(data=siblings, schema=siblings_schema)

In [9]:
# Check first N records
df_siblings.show()

+---+------------+---+------+-------+-------+
| Id|        Name|Age|Gender| Salary|Country|
+---+------------+---+------+-------+-------+
|  1|  Kwaku Jude| 40|     M|10090.5|    USA|
|  2|   Yaw David| 36|     M| 9001.1|    N/A|
|  3|Kofi Baffuor| 34|     M|8200.99|  GHANA|
|  4|  Abena Salo| 32|     F| 7905.0|  GHANA|
|  5|   Abena Pat| 30|     F|7005.19|  GHANA|
+---+------------+---+------+-------+-------+

In [10]:
# Group records by Gender, aggregate Country name as list in dataframe
df_siblings \
    .groupBy('Gender') \
        .agg(collect_list('Country').alias('CountryList')) \
            .show(truncate=False)

[Stage 6:======================>                                    (3 + 5) / 8]

+------+-----------------+
|Gender|CountryList      |
+------+-----------------+
|M     |[USA, N/A, GHANA]|
|F     |[GHANA, GHANA]   |
+------+-----------------+

In [11]:
# Group dataframe records by Item_Type, PIVOT on Outlet_Size & compute average Item_MRP
df_big_mart_sales \
    .groupBy('Item_Type') \
        .pivot('Outlet_Size') \
            .agg(avg('Item_MRP')) \
                .show(5, truncate=False)

+---------------------+------------------+------------------+------------------+------------------+
|Item_Type            |null              |High              |Medium            |Small             |
+---------------------+------------------+------------------+------------------+------------------+
|Starchy Foods        |140.48000465116277|158.15707368421053|148.4195041666666 |150.2701736842105 |
|Breads               |139.04861666666667|133.75896         |140.8610385542169 |145.5236507042254 |
|Baking Goods         |126.66939891891889|129.20204383561642|126.17856847290639|125.21336363636368|
|Fruits and Vegetables|142.57516045845267|145.57287042253515|142.9714702179177 |148.31336951219507|
|Meat                 |139.29453448275865|137.2447902439025 |136.41913154362408|145.69925042016808|
+---------------------+------------------+------------------+------------------+------------------+
only showing top 5 rows

In [12]:
# Create new column by checking if Item_Type equals Meat or Not
df_big_mart_sales \
    .withColumn('VEG_Flag', when(col('Item_Type') == 'Meat', 'Carnivore').otherwise('Vegetarian')) \
        .show(5, truncate=False)

+---------------+-----------+----------------+---------------+---------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+----------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|Item_Type            |Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|Outlet_Type      |Item_Outlet_Sales|VEG_Flag  |
+---------------+-----------+----------------+---------------+---------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+----------+
|FDA15          |9.3        |Low Fat         |0.016047301    |Dairy                |249.8092|OUT049           |1999                     |Medium     |Tier 1              |Supermarket Type1|3735.138         |Vegetarian|
|DRC01          |5.92       |Regular         |0.019278216    |Soft Drinks          |48.2692 |OUT018           |2009                     |Medium     |Tier 3              |Supermarket Type2|443.4228         |Vegetarian|
|FDN15          |17.5       |Low Fat         |0.016760075    |Meat                 |141.618 |OUT049           |1999                     |Medium     |Tier 1              |Supermarket Type1|2097.27          |Carnivore |
|FDX07          |19.2       |Regular         |0.0            |Fruits and Vegetables|182.095 |OUT010           |1998                     |NULL       |Tier 3              |Grocery Store    |732.38           |Vegetarian|
|NCD19          |8.93       |Low Fat         |0.0            |Household            |53.8614 |OUT013           |1987                     |High       |Tier 3              |Supermarket Type1|994.7052         |Vegetarian|
+---------------+-----------+----------------+---------------+---------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+----------+
only showing top 5 rows

In [13]:
# Create new column by checking if Item_Type equals Meat or Not
df_big_mart_sales_a = df_big_mart_sales \
                        .withColumn('VEG_EXP_Flag', when(((col('Item_Type') != 'Meat') & (col('Item_MRP') < 100)), 'Vegetarian_INEXP') \
                                    .when((col('Item_Type') != 'Meat') & (col('Item_MRP') > 100), 'Vegetarian_EXP').otherwise('Carnivore'))

In [14]:
# Check first N records
df_big_mart_sales_a.show(5, truncate=False)

+---------------+-----------+----------------+---------------+---------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|Item_Type            |Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|Outlet_Type      |Item_Outlet_Sales|VEG_EXP_Flag    |
+---------------+-----------+----------------+---------------+---------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+----------------+
|FDA15          |9.3        |Low Fat         |0.016047301    |Dairy                |249.8092|OUT049           |1999                     |Medium     |Tier 1              |Supermarket Type1|3735.138         |Vegetarian_EXP  |
|DRC01          |5.92       |Regular         |0.019278216    |Soft Drinks          |48.2692 |OUT018           |2009                     |Medium     |Tier 3              |Supermarket Type2|443.4228         |Vegetarian_INEXP|
|FDN15          |17.5       |Low Fat         |0.016760075    |Meat                 |141.618 |OUT049           |1999                     |Medium     |Tier 1              |Supermarket Type1|2097.27          |Carnivore       |
|FDX07          |19.2       |Regular         |0.0            |Fruits and Vegetables|182.095 |OUT010           |1998                     |NULL       |Tier 3              |Grocery Store    |732.38           |Vegetarian_EXP  |
|NCD19          |8.93       |Low Fat         |0.0            |Household            |53.8614 |OUT013           |1987                     |High       |Tier 3              |Supermarket Type1|994.7052         |Vegetarian_INEXP|
+---------------+-----------+----------------+---------------+---------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+----------------+
only showing top 5 rows

In [15]:
# Create dummy datasets and schema
siblings = [
            (1, 'Kwaku Jude', 40, 'M', 10_090.50, 840), \
                (2, 'Yaw David', 36, 'M', 9_001.10, 111), \
                    (3, 'Kofi Baffuor', 34, 'M', 8_200.99, 288), \
                        (4, 'Abena Salo', 32, 'F', 7_905.00, 288), \
                            (5, 'Abena Pat', 30, 'F', 7_005.19, 288)
            ]

In [16]:
# Schema definition
siblings_schema = 'Id INT, Name STRING, Age INT, Gender STRING, Salary DOUBLE, CountryId INT'

In [17]:
# Create Spark DataFrame from dummy data
df_siblings = spark.createDataFrame(data=siblings, schema=siblings_schema)

In [18]:
# Check first N records
df_siblings.show()

+---+------------+---+------+-------+---------+
| Id|        Name|Age|Gender| Salary|CountryId|
+---+------------+---+------+-------+---------+
|  1|  Kwaku Jude| 40|     M|10090.5|      840|
|  2|   Yaw David| 36|     M| 9001.1|      111|
|  3|Kofi Baffuor| 34|     M|8200.99|      288|
|  4|  Abena Salo| 32|     F| 7905.0|      288|
|  5|   Abena Pat| 30|     F|7005.19|      288|
+---+------------+---+------+-------+---------+

In [19]:
# Create dummy datasets and schema
countries = [
    (840, 'USA'), \
        (288, 'GHANA'), \
            (566, 'NIGERIA')
    ]

In [20]:
# Schema definition
countries_schema = 'Id INT, Country STRING'

In [21]:
# Create Spark DataFrame from dummy data
df_countries = spark.createDataFrame(data=countries, schema=countries_schema)

In [22]:
# Check first N records
df_countries.show()

+---+-------+
| Id|Country|
+---+-------+
|840|    USA|
|288|  GHANA|
|566|NIGERIA|
+---+-------+

In [23]:
# Merge DataFrames using INNER join
df_siblings \
    .join(df_countries, df_siblings['CountryId'] == df_countries['Id'], 'inner') \
        .show()

[Stage 32:>                                                         (0 + 8) / 8]

+---+------------+---+------+-------+---------+---+-------+
| Id|        Name|Age|Gender| Salary|CountryId| Id|Country|
+---+------------+---+------+-------+---------+---+-------+
|  3|Kofi Baffuor| 34|     M|8200.99|      288|288|  GHANA|
|  4|  Abena Salo| 32|     F| 7905.0|      288|288|  GHANA|
|  5|   Abena Pat| 30|     F|7005.19|      288|288|  GHANA|
|  1|  Kwaku Jude| 40|     M|10090.5|      840|840|    USA|
+---+------------+---+------+-------+---------+---+-------+

In [24]:
# Merge DataFrames using LEFT join
df_siblings \
    .join(df_countries, df_siblings['CountryId'] == df_countries['Id'], 'left') \
        .show()

+---+------------+---+------+-------+---------+----+-------+
| Id|        Name|Age|Gender| Salary|CountryId|  Id|Country|
+---+------------+---+------+-------+---------+----+-------+
|  1|  Kwaku Jude| 40|     M|10090.5|      840| 840|    USA|
|  2|   Yaw David| 36|     M| 9001.1|      111|NULL|   NULL|
|  3|Kofi Baffuor| 34|     M|8200.99|      288| 288|  GHANA|
|  4|  Abena Salo| 32|     F| 7905.0|      288| 288|  GHANA|
|  5|   Abena Pat| 30|     F|7005.19|      288| 288|  GHANA|
+---+------------+---+------+-------+---------+----+-------+

In [25]:
# Merge DataFrames using RIGHT join
df_siblings \
    .join(df_countries, df_siblings['CountryId'] == df_countries['Id'], 'right') \
        .show()

+----+------------+----+------+-------+---------+---+-------+
|  Id|        Name| Age|Gender| Salary|CountryId| Id|Country|
+----+------------+----+------+-------+---------+---+-------+
|   1|  Kwaku Jude|  40|     M|10090.5|      840|840|    USA|
|   5|   Abena Pat|  30|     F|7005.19|      288|288|  GHANA|
|   4|  Abena Salo|  32|     F| 7905.0|      288|288|  GHANA|
|   3|Kofi Baffuor|  34|     M|8200.99|      288|288|  GHANA|
|NULL|        NULL|NULL|  NULL|   NULL|     NULL|566|NIGERIA|
+----+------------+----+------+-------+---------+---+-------+

In [26]:
# Merge DataFrames using FULL join
df_siblings \
    .join(df_countries, df_siblings['CountryId'] == df_countries['Id'], 'full') \
        .show()

+----+------------+----+------+-------+---------+----+-------+
|  Id|        Name| Age|Gender| Salary|CountryId|  Id|Country|
+----+------------+----+------+-------+---------+----+-------+
|   2|   Yaw David|  36|     M| 9001.1|      111|NULL|   NULL|
|   3|Kofi Baffuor|  34|     M|8200.99|      288| 288|  GHANA|
|   4|  Abena Salo|  32|     F| 7905.0|      288| 288|  GHANA|
|   5|   Abena Pat|  30|     F|7005.19|      288| 288|  GHANA|
|NULL|        NULL|NULL|  NULL|   NULL|     NULL| 566|NIGERIA|
|   1|  Kwaku Jude|  40|     M|10090.5|      840| 840|    USA|
+----+------------+----+------+-------+---------+----+-------+

In [27]:
# Merge DataFrames using ANTI join
df_siblings \
    .join(df_countries, df_siblings['CountryId'] == df_countries['Id'], 'anti') \
        .show() # Returns records on one dataframe but not in the other

+---+---------+---+------+------+---------+
| Id|     Name|Age|Gender|Salary|CountryId|
+---+---------+---+------+------+---------+
|  2|Yaw David| 36|     M|9001.1|      111|
+---+---------+---+------+------+---------+

#### Data Manipulations - WINDOW FUNCTIONS: ROW_NUMBER, RANK & DENSE RANK, USER DEFINED FUNCTIONS ####

In [28]:
# Create unique IDs for records in dataframe using ROW_NUMBER, RANK & DENSE RANK functions
w_item_asc = Window.partitionBy("Item_Identifier").orderBy("Item_Identifier")

df_big_mart_sales_window = (
    df_big_mart_sales
        .withColumn("IDs", row_number().over(w_item_asc))
        .withColumn("RankIDs", rank().over(w_item_asc))
        .withColumn("DenseRankIDs", dense_rank().over(w_item_asc))
)

In [29]:
# Check first N records
df_big_mart_sales_window.show(5, truncate=False)

[Stage 59:>                                                         (0 + 1) / 1]

+---------------+-----------+----------------+---------------+-----------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+---+-------+------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|Item_Type  |Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|Outlet_Type      |Item_Outlet_Sales|IDs|RankIDs|DenseRankIDs|
+---------------+-----------+----------------+---------------+-----------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+---+-------+------------+
|DRA12          |11.6       |Low Fat         |0.041177505    |Soft Drinks|140.3154|OUT017           |2007                     |NULL       |Tier 2              |Supermarket Type1|2552.6772        |1  |1      |1           |
|DRA12          |11.6       |Low Fat         |0.0            |Soft Drinks|141.6154|OUT045           |2002                     |NULL       |Tier 2              |Supermarket Type1|3829.0158        |2  |1      |1           |
|DRA12          |11.6       |Low Fat         |0.040911824    |Soft Drinks|142.3154|OUT013           |1987                     |High       |Tier 3              |Supermarket Type1|2552.6772        |3  |1      |1           |
|DRA12          |11.6       |LF              |0.0            |Soft Drinks|141.9154|OUT035           |2004                     |Small      |Tier 2              |Supermarket Type1|992.7078         |4  |1      |1           |
|DRA12          |11.6       |Low Fat         |0.041112694    |Soft Drinks|142.0154|OUT018           |2009                     |Medium     |Tier 3              |Supermarket Type2|850.8924         |5  |1      |1           |
+---------------+-----------+----------------+---------------+-----------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+---+-------+------------+
only showing top 5 rows

In [30]:
# Compute Cummulative SUM of Item_MRP
w_item = (
    Window
        .partitionBy("Item_Type")
        .orderBy("Item_Identifier")  # or Date / Outlet / etc.
        .rowsBetween(Window.unboundedPreceding, Window.currentRow)
)

df_big_mart_sales_cs = df_big_mart_sales \
                        .withColumn("Cumulative_SUM", sum("Item_MRP").over(w_item))

In [31]:
# Check first N records
df_big_mart_sales_cs.show(5, truncate=False)

[Stage 64:>                                                         (0 + 1) / 1]

+---------------+-----------+----------------+---------------+------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+------------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|Item_Type   |Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|Outlet_Type      |Item_Outlet_Sales|Cumulative_SUM    |
+---------------+-----------+----------------+---------------+------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+------------------+
|FDA11          |7.75       |LF              |0.043326511    |Baking Goods|95.6436 |OUT045           |2002                     |NULL       |Tier 2              |Supermarket Type1|1134.5232        |95.6436           |
|FDA11          |NULL       |low fat         |0.043029436    |Baking Goods|94.7436 |OUT027           |1985                     |Medium     |Tier 3              |Supermarket Type3|1701.7848        |190.3872          |
|FDA11          |7.75       |Low Fat         |0.043238822    |Baking Goods|92.5436 |OUT046           |1997                     |Small      |Tier 1              |Supermarket Type1|1701.7848        |282.9308          |
|FDA11          |7.75       |Low Fat         |0.043414959    |Baking Goods|93.1436 |OUT018           |2009                     |Medium     |Tier 3              |Supermarket Type2|1418.154         |376.07439999999997|
|FDA11          |7.75       |Low Fat         |0.043483398    |Baking Goods|94.3436 |OUT017           |2007                     |NULL       |Tier 2              |Supermarket Type1|2363.59          |470.41799999999995|
+---------------+-----------+----------------+---------------+------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+------------------+
only showing top 5 rows

In [32]:
# Create function to compute bonus and return total payment
def total_pay(salary: float) -> float:

    # Return salary plus 25% increase
    return 1.25 * salary

In [33]:
# Register function with UDF
TotalPayment = udf(lambda x: total_pay(x), FloatType())

In [34]:
# Implement function
df_siblings \
    .withColumn('TotalPayment', TotalPayment(df_siblings['Salary'])) \
        .show()

+---+------------+---+------+-------+---------+------------+
| Id|        Name|Age|Gender| Salary|CountryId|TotalPayment|
+---+------------+---+------+-------+---------+------------+
|  1|  Kwaku Jude| 40|     M|10090.5|      840|   12613.125|
|  2|   Yaw David| 36|     M| 9001.1|      111|   11251.375|
|  3|Kofi Baffuor| 34|     M|8200.99|      288|   10251.237|
|  4|  Abena Salo| 32|     F| 7905.0|      288|     9881.25|
|  5|   Abena Pat| 30|     F|7005.19|      288|    8756.487|
+---+------------+---+------+-------+---------+------------+

#### Writing data to CSV & Parquet files ####

In [35]:
# Create root directory
OUTPUT_DATA_ROOT = "/opt/spark-data/output/ansh-lamba"

MODE = "OVERWRITE"  # MODES = APPEND, OVERWRITE, ERROR, IGNORE

In [36]:
# Save dataframe to CSV file
df_big_mart_sales_window \
    .write.option("header",True) \
        .format("csv") \
            .mode(MODE) \
                .save(f"{OUTPUT_DATA_ROOT}/big-mart-sales-windowed.csv")

In [37]:
# Save dataframe to Parquet file
partition_by_columns = ["Item_Type"]

df_big_mart_sales_window \
    .write \
        .format("parquet") \
            .partitionBy(*partition_by_columns) \
                .mode(MODE) \
                    .save(f"{OUTPUT_DATA_ROOT}/big-mart-sales-windowed.parquet")

#### Managed VS. External Tables ####

In [38]:
# Create temporal view using createOrReplaceTempView from the dataframe
df_big_mart_sales.createOrReplaceTempView('big_mart_sales_tbl')

In [39]:
# Select records using SQL query
sql_query = spark.sql("SELECT * FROM big_mart_sales_tbl WHERE Item_Fat_Content = 'Low Fat'")

In [40]:
# Check first N records
sql_query.show(5, truncate=False)

+---------------+-----------+----------------+---------------+---------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|Item_Type            |Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|Outlet_Type      |Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+---------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|FDA15          |9.3        |Low Fat         |0.016047301    |Dairy                |249.8092|OUT049           |1999                     |Medium     |Tier 1              |Supermarket Type1|3735.138         |
|FDN15          |17.5       |Low Fat         |0.016760075    |Meat                 |141.618 |OUT049           |1999                     |Medium     |Tier 1              |Supermarket Type1|2097.27          |
|NCD19          |8.93       |Low Fat         |0.0            |Household            |53.8614 |OUT013           |1987                     |High       |Tier 3              |Supermarket Type1|994.7052         |
|FDP10          |NULL       |Low Fat         |0.127469857    |Snack Foods          |107.7622|OUT027           |1985                     |Medium     |Tier 3              |Supermarket Type3|4022.7636        |
|FDY07          |11.8       |Low Fat         |0.0            |Fruits and Vegetables|45.5402 |OUT049           |1999                     |Medium     |Tier 1              |Supermarket Type1|1516.0266        |
+---------------+-----------+----------------+---------------+---------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 5 rows